.not-selectable
  main-navigation
  .panel.panel-default.panel-override
    .panel-body.panel-body-override
      .col-40
        div(todo-list)
      .col-60
        span This skeleton includes this small application to made 
          | to test all parts of the buildsystem, such that i know forsure
          | it is fit for purpose.