doctype html
html(lang="en" ng-app="myApp")
  head
    meta(charset="utf-8")
    title = My AngularJS node-webkit app
    link(rel="stylesheet" href="app/styles/app.css")

body
  .view-container
    div(ng-view)

script(src="app/static/vendor/vendor.js")

// build:js
script(src="app/js/app.js")
script(src="app/js/controllers/MainCtrl.js")
script(src="app/js/directives/menu.js")
// endbuild
