doctype html
html(lang='en' ng-app='myApp')
  head
    meta(charset='utf-8')
    title = My AngularJS node-webkit app

    // inject:css
    // endinject

body
  .view-container
    div(ng-view)

  // inject:js
  // endinject